*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}
a{
    color: #000;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    height: 60px;
    margin: 0 auto;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    font-weight: 300;
    padding: 0 25px;
    cursor: pointer;
    position: relative;
}
nav ul li::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    right: 0;
    background: #000;
}
nav ul li:last-child::after{
    background: none;
}
.section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 250px 0 300px;
    max-width: 1100px;
    margin: 0 auto;
}
.section .picture{
    width: 40%;
    margin-right: 50px;
}
.picture img{
    border-radius: 100%;
    width: 100%;
}
.infos{
    width: 80%;
}
.about h1{
    font-size: 2.5rem;
    padding: 10px 0;
}
.about h3{
    font-size: 1rem;
    font-weight: 650;
    padding: 10px 0;
}
.about p{
    min-width: 300px;
    line-height: 30px;
}
.lien ul{
    padding: 30px 0;
    display: flex;
}
.lien ul li:first-child{
    background: RGB(238 163 4);
    border: 1px rgb(89,62,3);
}
.lien ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    font-size: .75rem;
    font-weight: bold;
    background: rgb(225,59,37);
    border: 1px solid rgb(89,62,3);
    margin-right: 30px;
    cursor: pointer;
}
.lien ul li:last-child{
    background: RGB(128 216 218);
    border: 1px rgb(89,62,3);
}
.lien ul li:hover{
    transform: scale(.9);
}
.footer{
    border-top: 1px solid rgb(236,236,236);
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.footer h3{
    padding: 15px 0;
    font-size: 1rem;
}
.news p{
    padding: 15px 0;
}
.icons{
    display: flex;
    align-items: center;
}
.icons i{
    margin-right: 10px;
    cursor: pointer;
    transition: all .4s ease;
}
.icons i:hover{
    transform: scale(1.2);
}
.formulaire{
    display: flex;
    justify-content: space-around;
    max-width: 1100px;
    padding: 250px 0 300px;
    margin: 0 auto;
}
.block1{
    line-height: 50px;
}
.block1 h3{
    margin: 0 50px;
}
.block1  p{
    margin: 0 50px;
}
.form form{
    display: grid;
    align-items: stretch;
    grid-template-columns: 50% 50%;
    gap: 20px;
    justify-content: end;
}
form label{
    display: block;
    margin-bottom: 10px;
}
input[type="text"], input[type="email"]{
    padding: 8px;
    width: 250px;
}
textarea{
    padding: 8px;
    resize: none;
    height: 150px;
    width: 250px;
}
input[type="submit"]{
    background: #ffa600;
    border: 1px solid #91671a;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    transition: all .4s ease;
}
input[type="submit"]:hover{
    transform: scale(.9);
}
.project-items{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
} 
.project-items .left{
    width: 35%;
    line-height: 30px;
}
.project-items .left h3{
    margin-bottom: 20px;
}
.project-items figure{
    width: 35%;
    cursor: pointer;
    transition: all .4s ease;
}
.project-items figure:hover{
    transform: scale(.9);
}
.project-items img{
    width: 100%;
    background: #e8e7e7;
    padding: 15px;
}
section{
    max-width: 1100px;
    margin: 0 auto;
    padding: 25px 40px 0;
}
section p{
    font-size: .85rem;
}
section li{
    font-size: .85rem;
    list-style: inside;
    margin-left: 15px;
}
.experience .cv{
    font-size: 1.1rem;
    padding: 20px 0 15px;
    line-height: 25px;
}
.title{
    font-size: 1.1rem;
    padding: 20px 0 30px;
    line-height: 25px;
}
.text{
    line-height: 30px;
    padding: 0 0 10px;
    width: 90%;
}
.list{
    line-height: 30px;
    margin-bottom: 25px;
}
.list li{
    line-height: 30px;
}
.block{
    display: flex;
    justify-content: space-between;
    line-height: 25px;
}
.left{
    margin-bottom: 25px;
}
.left h3{
    font-size: .9rem;
}

.competence-container{
    display: flex;
    margin: 0 25px 0;
    font-size: .9rem;
}
.competence-container .list{
    font-size: .9rem;
    margin-right: 250px;
}
.competence-container li{
    font-size: .9rem;
}

.etude{
    border-top: 1px solid #dddcdc;
    border-bottom: 1px solid #dddcdc;
}
.block,
.text,
.list{
    margin-left: 20px;
}
.langue{
    margin-bottom: 80px;
    border-top: 1px solid #dddcdc;
}
.langue h3{
    padding-bottom: 20px;
}
.langue li{
    font-weight: bold;
}