.form{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75vh;

}
.infos{
    line-height: 50px;
    width: 30%;
    margin: 0 auto;
}
.infos__link{
    color: black;
}
.nav__menu--contactbold{
    font-weight: bold;
}
.block{
    margin: 0 auto;
}
.block__form{
    display: grid;
    align-items: stretch;
    grid-template-columns: 50% 50%;
    justify-content: end;
    gap: 10px;
    align-items: end;

}
.form__label{
    display: block;
    padding: 0 0 20px;
}
.form__input--text[type="text"], .form__input--mail[type="email"]{
    width: 250px;
    border:1px solid black ;
    
}
.form__textarea{
    display: flex;
    resize: none;
    height: 150px;
    width: 250px;
    border:1px solid black ;
   
}
.form__input--submit[type="submit"]{
    background: #ffa600;
    border: 1px solid #91671a;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    transition: all .4s ease;
    width: 150px;
    height: 150px;
    margin-left:50px;

}
.form__input--submit[type="submit"]:hover{
    transform: scale(.9);
}
/* responsive */
@media screen and (max-width: 1024px){
    .form{
        display: block;
        height: auto;
        margin: 0 auto;
    }
    .infos{
        margin: 0 auto;
        text-align: center;
    }
    .block__form{
        width: auto;
        justify-items: center;
    }

} 
@media screen and (max-width: 750px){
    .block__form{
        display: block;
        text-align: center;
        width: auto;
    }
    .infos{
        /* text-align: center; */
        width: auto;
    }
    .form__textarea{
        display: block;
        margin: 0 auto;
    }
    .form__input--submit[type="submit"]{
        margin: 20px 0; 
    }
    .form__label{
        text-align: left;
    }
    .form__input--mail[type="email"], 
    .form__input--text[type="text"],
    .form__textarea{
        width: 100%;
    }
}